%div.left-content
	%div.current-user
		%p.current-user__name seo
	%div.current-user-groups
		%div.current-user-group
			%p.group__name sample
			%p.group__member Good bye world


%div.right-content
	%div.current-group
		%h3.current-group__name sample
		%p.current-group__menbers seo neko
	%div.current-group__messages
		%div.current-group__message
			%h5.message__user-name seo
			%p.message__text  Good bye world
