%div.left-content
	%div.left__user
		%p seo
	%div.left__group
		%p.left__group-name sample
		%p.left__group-member Good bye world


%div.right-content
	%div.right__group
		%h3.right__group-name sample
		%p.right__group-menbers seo neko
	%div.right__messages
		%h5.right__message-user-name seo
		%p.right__message  Good bye world
