%div.chat-side
  %div.chat-side__user
    %div.chat-side__user-content
      %p.chat-side__user-name
        = current_user.name
      = link_to new_group_path, class: 'chat-side__user-setting' do
        %i.fas.fa-cog
      = link_to new_group_path, class: 'chat-side__user-group-setting' do
        %i.fas.fa-edit
  %div.chat-side__group-lists
    - current_user.groups.each do |group|
      =link_to group_messages_path(group) do
        %div.chat-side__group-container
          .group__name
            = group.name
          .group__message
          メッセージはまだありません。


