@import "./reset";

	.chat-side {
		height: 100vh;
		width: 300px;
		color: #FFFFFF;
		float: left;

	    .chat-side__user {
	    	height: 15%;
			padding: 0 20px;
			background-color: #253141;
			position: relative;

			.chat-side__user-content {
				height: 50px;
				width: 260px;
				line-height: 50px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				
				.chat-side__user-name {
					font-size: 16px;
					font-weight: bold;
					display: inline-block;
				}

				.chat-side__user-group-setting {
					margin-left: 170px
				}

				.chat-side__user-setting {
					margin-left: 10px
				}
		
			}
		}

		.chat-side__group-lists {
			height: calc(100vh - 15%);
			padding: 0 20px;
			background-color: #2f3e51;

			.chat-side__group-contenr {
				padding: 20px 0;

				.group__name{
					font-size: 15px;
					margin-bottom: 5px;
				}

				.group__member{
					font-size: 11px;
				}
			}
		}


	}


	.chat-main {
		height: 100vh;
		width: calc(100vw - 300px);
		float: right;

		.chat-main__group {
			height: calc(15% - 2px);
			padding: 0px 40px;
			border: 1px solid #eeeeee;

			.chat-main__group-content {
				float: left;

				.chat-main__group-name{
					font-size: 20px;
					color: #333333;
					margin: 35px 0 15px 0;
				}

				.chat-main__group-members {
					font-size: 12px;
					color: #999999;
				}
			}

			.chat-main__group-button {
				height: 36px;
				color:  #38AEF0;
				font-weight: bold;
				border: solid 2px #38AEF0;
				margin-top: 28px;
				float: right;

				.chat-main__group-button-edit {
					padding: 10px 20px;
					line-height: 36px;
				}
			}
		}

		.chat-main__messages {
			height: calc(100vh - 15%);
			padding: 0px 40px;
			background-color: #FAFAFA;

			.chat-main__message {
				padding-top: 6px;

				.message__user-name {
					padding: 40px 0px 10px 0px;
					color: #434A54;
					font-size: 16px;
					font-weight: bold;

					.message__date {
						margin-left: 10px;
						color: #999999;
						font-size: 12px;
					}
				}

				.message__text {
					color: #434A54;
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	}
